<section class="banner-section">
  <div class="common-container">
    <header>
      <a routerLink="/" class="logo">
        <img src="/assets/img/Logo_white.png">
      </a>
      <nav>
        <ul>
          <li><a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a></li>
          <li><a href="javascript:void(0)">ABOUT</a></li>
          <li><a href="javascript:void(0)">FEATURES</a></li>
          <li><a href="javascript:void(0)">PRODUCTS</a></li>
          <li><a href="javascript:void(0)">IT SECURITY</a></li>
          <li><a href="javascript:void(0)">CONTACT</a></li>
        </ul>
      </nav>
    </header>
    <div class="banner">
      <div class="bnr-part-one">
        <h1>Designed by <br>Indian Engineers</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
          <button>View Products</button>
      </div>
      <div class="bnr-part-two">
        <img src="/assets/img/banner_illustration.png">
      </div>
    </div>
  </div>

  <div class="mouse-icon">
    <img src="/assets/img/mouse.png">
  </div>

</section>